$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.browsehappy {
  background: #dedede;
  color: #000;
  padding: 0.5em;
}

.navbar-brand {
  height: 65px;
  small {
    display: block;
  }
}

address.contacts {
  strong {
    margin-bottom: 3px;
  }
}

.navbar-static-top {
  /* because .navbar-brand height is 65px */
  ul.navbar-nav >li>a {
    padding-bottom: 22px;
    padding-top: 23px;
  }
}

/* Space out content a bit */
body {
  padding: 0px;
  font-size: 15px
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 770px;
  }
}