
<h3 class="page-header">{{ 'ContactsTitle' | translate }}</h3>

<address class="contacts">
	<strong>SIA "mindmutex"</strong><br>
	
	<i class="fa fa-home"></i> Kūrmājas prospekts 27A-2, Liepāja, LV-3401, Latvija<br>
	<i class="fa fa-phone"></i> +371 29175455<br>
	<i class="fa fa-envelope"></i> <a href="mailto:info@mindmutex.com">info@mindmutex.com</a>
</address>

<address class="properties">
	{{ 'RegisationNumber' | translate }}: 42103052846<br>
	{{ 'Bank' | translate }}: a/s Swedbank<br>
	{{ 'Swift' | translate }}: HABALV22<br>
	{{ 'AccountNumber' | translate }}: LV64HABA0551029824619<br>
</address>


